@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --background: #b3747e;
  --primary: #9d435d;
  --card: #a35565;
  --card-variant: #8db5d8;
  --accent: #b25571;
  --icon-stroke: #7d1b32;
  --text: #cccccc;
  --text-muted: #5c6b85;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #01040c;
    --primary: #0b1728;
    --card: #1f447a;
    --card-variant: #152d51;
    --accent: #295aa3;
    --icon-stroke: #10b0ff;
    --text: #e0e6f0;
    --text-muted: #a0aec0;
  }
}
